.introCont {
    background-color: white;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
}

.infoCont {

}

.row {

}

.mmImage {

}

.mmInfo {

}

.mmName {

}

.cheesyIntro {

}

.shortIntro {
    
}